---
- name: "Setting 'bundle_index_image' variable"
  set_fact:
    bundle_index_image: "{{ bundle_registry }}/{{ bundle_index_image_namespace }}/{{ bundle_index_image_name }}:{{ ba_index_tag }}"
    bundle_index_image_version: "{{ ba_index_tag }}"
  when:
    - (openshift_robot_hash_array.2 is undefined or openshift_robot_hash_array.2 == "")

- name: "Remove index image '{{ bundle_index_image }}'"
  shell: "{{ container_tool }} rmi -f {{ bundle_index_image }}"
  failed_when: false

- name: "Get list of tags for index image from bundle registry '{{ bundle_registry }}/{{ bundle_index_image_namespace }}/{{ bundle_index_image_name }}'"
  uri:
    url: "{{ registry_api_http_protocol | default('https') }}://{{ bundle_registry }}/v2/{{ bundle_index_image_namespace }}/{{ bundle_index_image_name }}/tags/list"
  register: boi_registry_versions
  failed_when: false
  when:
    - (openshift_robot_hash_array.2 is undefined or openshift_robot_hash_array.2 == "")

- name: "Create repo for index image with public visibility '{{ bundle_image_namespace }}/{{ bundle_index_image_name }}'"
  uri:
    url: "https://quay.io/api/v1/repository"
    method: POST
    body: '{"kind":"image","namespace":"{{ bundle_image_namespace }}","repository":"{{ bundle_index_image_name }}","description":"","visibility":"public"}'
    body_format: json
    force_basic_auth: yes
    headers:
      Authorization: "Bearer {{ quay_api_token }}"
    status_code: 201
    return_content: yes
  when:
    - quay_api_token is defined
    - quay_api_token != ""
    - (openshift_robot_hash_array.2 is undefined or openshift_robot_hash_array.2 == "")
    - boi_registry_versions.status != 200

- name: "Get list of tags for index image from bundle registry (osr) '{{ openshift_robot_hash_array[0] | dirname }}/{{ openshift_robot_hash_array[0] | basename }}/{{ bundle_index_image_name }}'"
  uri:
    url: "{{ registry_api_http_protocol | default('https') }}://{{ openshift_robot_hash_array[0] | dirname }}/v2/{{ openshift_robot_hash_array[0] | basename }}/{{ bundle_index_image_name }}/tags/list"
  register: boi_registry_versions_osr
  failed_when: false
  when:
    - openshift_robot_hash_array.2 is defined
    - openshift_robot_hash_array.2 != ""

- name: "Create repo for index image with public visibility (osr)'{{ openshift_robot_hash_array[0] }}/{{ bundle_index_image_name }}'"
  uri:
    url: "https://quay.io/api/v1/repository"
    method: POST
    body: '{"kind":"image","namespace":"{{ openshift_robot_hash_array[0] | basename }}","repository":"{{ bundle_index_image_name }}","description":"","visibility":"public"}'
    body_format: json
    force_basic_auth: yes
    headers:
      Authorization: "Bearer {{ openshift_robot_hash_array[1] }}"
    status_code: 201
    return_content: yes
  when:
    - openshift_robot_hash_array.2 is defined
    - openshift_robot_hash_array.2 != ""
    - boi_registry_versions_osr.status != 200

- name: "Reseting 'index_versions_in_registry' variable"
  set_fact:
    index_versions_in_registry: []
    opm_index_add_extra_args: ""
    boi_current_index_version_list: "[ '{{ ba_index_tag }}' ]"

- name: "Setting all versions to 'index_versions_in_registry' variable"
  set_fact:
    index_versions_in_registry: "{{ boi_registry_versions.json.tags | sort_versions }}"
  when:
    - (openshift_robot_hash_array.2 is undefined or openshift_robot_hash_array.2 == "")
    - boi_registry_versions.status == 200

- name: "Filter index versions"
  set_fact:
      boi_index_version_test: "{{ index_versions_in_registry | intersect(boi_current_index_version_list) }}"

- name: "Setting opm index extra arguments"
  set_fact:
    bundle_index_image_from: "{{ bundle_registry }}/{{ bundle_index_image_namespace }}/{{ bundle_index_image_name }}:{{ boi_index_version_test.0 }}"
    opm_index_add_extra_args: "--from-index {{ bundle_registry }}/{{ bundle_index_image_namespace }}/{{ bundle_index_image_name }}:{{ boi_index_version_test.0 }}"
  when:
    - boi_index_version_test.0 is defined
    - (openshift_robot_hash_array.2 is undefined or openshift_robot_hash_array.2 == "")

- name: "Handling previous index image"
  block:
    - name: "Setting 'index rm' container option"
      set_fact:
        boi_index_args: "-c {{ opm_container_tool_index }}"
      when:
        - opm_container_tool_index is defined
        - opm_container_tool_index != ""

    - name: "Remove previous versions of operator '{{ ba_name }}' from index image {{ bundle_index_image }}"
      shell: "{{ opm_bin_path }} index rm {{ boi_index_args }} --operators {{ ba_name }} --tag {{ bundle_index_image }}  {{ opm_index_add_extra_args }}"
      environment: "{{ proxy_env }}"

    - name: "Tmp quay fix"
      block:
        - name: "Push index image {{ bundle_index_image }} (quay_push_fix #1)"
          shell: "{{ container_tool }} push {{ bundle_index_image }}"
          environment: "{{ proxy_env }}"

        - name: "Pull index image {{ bundle_index_image }} (quay_push_fix #2)"
          shell: "{{ container_tool }} pull {{ bundle_index_image }}"
          environment: "{{ proxy_env }}"
      when:
        - (quay_push_fix is undefined or quay_push_fix|bool)

    - name: "Push index image {{ bundle_index_image }}"
      shell: "{{ container_tool }} push {{ container_push_extra }} {{ bundle_index_image }}"
      environment: "{{ proxy_env }}"
  when:
    - boi_index_version_test.0 is defined
    - bundle_index_image_from is defined
    - bundle_index_image_from != ""

- name: "Setting tmp versions"
  set_fact:
    ba_versions_tmp: "{{ ba_versions | difference(ba_versions_prod) }}"

- name: "Setting bundle image names"
  set_fact:
    bundle_images: "{{ ba_bundles | join(',') }}"

- name: "Retag bundle input image"
  block:
    - name: "Retag image {{ operator_input_image }}"
      shell: "{{ container_tool }} tag {{ operator_input_image }} {{ bundle_images }}"
    - name: "Push image {{ operator_input_image }}"
      shell: "{{ container_tool }} push {{ container_push_extra }} {{ bundle_images }}"
      environment: "{{ proxy_env }}"
  when:
    - operator_input_image is defined
    - operator_input_image != ""

- name: "Failing when mode is empty"
  fail:
    msg: "opm index add mode has to be set to following values: [replaces, semver, semver-skippatch] (default  replaces)"
  when: opm_index_add_mode is undefined or opm_index_add_mode == ""

- name: "Add operator '{{ ba_name }}' to index image {{ bundle_index_image }}"
  shell: "{{ opm_bin_path }} index add -u {{ opm_container_tool }} --bundles {{ bundle_images }} --tag {{ bundle_index_image }} --mode {{ opm_index_add_mode }} {{ opm_index_add_extra_args }}"
  ignore_errors: yes
  environment: "{{ proxy_env }}"
  register: boi_ia_rc

- name: "Tmp quay fix"
  block:
    - name: "Push index image {{ bundle_index_image }} (quay_push_fix #1)"
      shell: "{{ container_tool }} push {{ bundle_index_image }}"
      environment: "{{ proxy_env }}"
    - name: "Pull index image {{ bundle_index_image }} (quay_push_fix #2)"
      shell: "{{ container_tool }} pull {{ bundle_index_image }}"
      environment: "{{ proxy_env }}"
  when:
    - (quay_push_fix is undefined or quay_push_fix|bool)
    - boi_ia_rc.rc == 0

- name: "Push idex image '{{ bundle_index_image }}'"
  shell: "{{ container_tool }} push {{ container_push_extra }} {{ bundle_index_image }}"
  environment: "{{ proxy_env }}"
  register: boi_iap_rc
  when: boi_ia_rc.rc == 0

- name: "Prints message that bundles were added to catalog"
  debug:
    msg: "Bundles {{ bundle_images }} were added and push to catalog {{ bundle_index_image }} : [OK]"
  when:
    - boi_ia_rc.rc is defined
    - boi_ia_rc.rc == 0
    - boi_iap_rc.rc is defined
    - boi_iap_rc.rc == 0

- name: "Unset 'boi_latest_index_found'"
  set_fact:
    boi_latest_index_found:

- name: "Unset 'bundle_latest_index_image' variable"
  set_fact:
    boi_bundle_latest_index_image:

- name: "Handle 'latest' index"
  block:
    - name: "Check if actual {{ ba_index_tag }} equals to {{ copy_as_latest_index }} (marked as latest)"
      set_fact:
        boi_latest_index_found: True
      when: ba_index_tag == copy_as_latest_index

    - name: "'Latest' identified"
      block:
        - name: "Setting 'bundle_latest_index_image' variable"
          set_fact:
            boi_bundle_latest_index_image: "{{ bundle_registry }}/{{ bundle_index_image_namespace }}/{{ bundle_index_image_name }}:latest"

        - name: "Retag index to latest "
          block:
            - name: "Retag image {{ bundle_index_image }}"
              shell: "{{ container_tool }} tag {{ bundle_index_image }} {{ boi_bundle_latest_index_image }}"
            - name: "Push image {{ boi_bundle_latest_index_image }}"
              shell: "{{ container_tool }} push {{ container_push_extra }} {{ boi_bundle_latest_index_image }}"
              environment: "{{ proxy_env }}"
          when:
            - copy_as_latest_index is defined
            - copy_as_latest_index != ""
            - boi_bundle_latest_index_image is defined
            - boi_bundle_latest_index_image != ""
      when:
        - boi_latest_index_found is defined
        - boi_latest_index_found|bool

  when:
    - copy_as_latest_index is defined
    - copy_as_latest_index != ""
    - use_cluster_filter is defined
    - use_cluster_filter|bool

- name: "Add failed operators when creating index from bundle"
  set_fact:
    bundle_index_add_failed: "{{ bundle_index_add_failed | default([]) }} + [ '{{ ba_name }}' ]"
  when: boi_ia_rc.rc is defined and boi_ia_rc.rc != 0

- name: "Running courier test on operator '{{ ba_name }}'"
  block:
    - name: "Ensure that the operator bundle for courier directory exists and is empty"
      file:
        state: "{{ item }}"
        path: "{{ operator_bundle_dir_for_courier }}/{{ ba_name }}"
      with_items:
        - absent
        - directory
    - name: "Setting 'index export' container option"
      set_fact:
        boi_index_args: "-c {{ opm_container_tool_index }}"
      when:
        - opm_container_tool_index is defined
        - opm_container_tool_index != ""

    - name: "Trying to export operator '{{ ba_name }}' from index image '{{ bundle_index_image }}'"
      shell: "{{ opm_bin_path }} index export {{ boi_index_args }} --package {{ ba_name }} --index {{ bundle_index_image }} --download-folder {{ operator_bundle_dir_for_courier }}"
      environment: "{{ proxy_env }}"
      register: rob_export_rc

    - name: "Failing when export of operator '{{ ba_name }}' fails"
      fail:
        msg: "Exporting of operator '{{ ba_name }}' from index '{{ bundle_index_image }}' failed !!!"
      when: rob_export_rc.rc != 0

#    - name: "Run linting tests with operator-courier verify on the deployed operator '{{ ba_name }}'"
#      include_role:
#        name: operator_courier_verify
#      vars:
#        operator_work_dir: "{{ operator_bundle_dir_for_courier }}/{{ ba_name }}"
#      when: run_lint|bool
  when:
    - boi_ia_rc.rc == 0
    - (openshift_robot_hash is undefined or openshift_robot_hash == "")
