---
apiVersion: v1
kind: Pod
metadata:
  name: {{ pod_name }}
spec:
  containers:
  - name: {{ pod_name }}
    image: {{ image }}
    command: ['sh', '-c', 'ls /etc/yum.repos.d']
  restartPolicy: Never
