---

- name: "Check if file '{{ workflow_config_path }}/{{ pipeline_config_name }}' exists"
  stat:
    path: "{{ workflow_config_path }}/{{ pipeline_config_name }}"
  register: pu_config_file

- name: "Fail if config file '{{ workflow_config_path }}/{{ pipeline_config_name }}' is not found"
  fail:
    msg: "Config file '{{ workflow_config_path }}/{{ pipeline_config_name }}' doesn't exist !!!"
  when: not pu_config_file.stat.exists|bool
  
- name: "Recreate workflow directory '{{ workflow_output_path }}' "
  file:
    state: "{{ item }}"
    path: "{{ workflow_output_path }}"
  with_items:
    - absent
    - directory

- name: "Load the pipeline config"
  include_vars:
    file: "{{ workflow_config_path }}/{{ pipeline_config_name }}"
    name: default_config

- name: "Find template files"
  find:
    paths: "{{ workflow_templates_path }}/"
    file_type: file
    recurse: false
    patterns: "*.js2"
  register: template_files

- name: "Copy operator test file"
  template:
    src: "{{ item.path }}"
    dest: '{{ workflow_output_path }}/{{ item.path.split("/")[-1].split(".js2")[0] }}'
  loop: "{{ template_files.files|flatten(levels=1) }}"
  loop_control:
    label: "{{ item.path }}"


- name: "Init missing repos"
  block:
    - name: "Login to quay"
      include_role:
        name: quay_login

    - name: "Get list of versions in ''"
      uri:
        url: "https://{{ default_config.production.index.registry }}/v2/{{ default_config.production.index.organization }}/{{ default_config.production.index.name }}/tags/list"
      register: pu_prod_registry_versions
      failed_when: false
      changed_when: false

    - name: "Create repo with public visibility"
      uri:
        url: "https://quay.io/api/v1/repository"
        method: POST
        body: '{"kind":"image","namespace":"{{ default_config.production.index.organization }}","repository":"{{ default_config.production.index.name }}","description":"","visibility":"public"}'
        body_format: json
        force_basic_auth: true
        headers:
          Authorization: "Bearer {{ quay_api_token }}"
        status_code: 201
        return_content: true
      when:
        - quay_api_token is defined
        - quay_api_token|length > 0
        - pu_prod_registry_versions.status != 200


    - name: "Setting all versions to 'versions_in_config' variable"
      set_fact:
        versions_in_config: "{{ default_config.production.index.tags | from_yaml }}"

    - name: "Setting all versions to 'versions_in_registry' variable"
      set_fact:
        versions_in_registry: "{{ pu_prod_registry_versions.json.tags }}"
      when:
        - pu_prod_registry_versions.status is defined
        - pu_prod_registry_versions.status == 200

    - name: "Setting all versions to 'versions_in_config' variable"
      set_fact:
        versions: "{{ versions_in_config | difference(versions_in_registry) }}"

    - name: "Debug"
      debug:
        var: versions_in_config
    # empty_index

    - name: "Debug"
      debug:
        var: versions_in_registry

    - name: "Debug"
      debug:
        var: versions

    - name: "Loop over all versions"
      include_tasks: push_empty_index.yml
      loop: "{{ versions }}"
      loop_control:
        loop_var: pu_item

  when:
    - empty_index is defined
    - empty_index|length > 0
