package_name: {{ package_name }}
is_bundle_image: {{ is_bundle_image }}
is_backport: {{ is_backport }}
current_channel: {{ current_channel }}
default_channel: {{ default_channel }}
current_csv_dir: {{ current_csv_dir }}
current_csv: {{ current_csv }}
csv_path: {{ csv_path }}
operator_pod_name: {{ operator_pod_name }}
operator_capabilities: {{ operator_capabilities }}
operator_container_name: {{ operator_container_name }}
operator_allnamespaces_support: {{ operator_allnamespaces_support }}
operator_ownnamespace_support: {{ operator_ownnamespace_support }}
operator_singlenamespace_support: {{ operator_singlenamespace_support }}
operator_multinamespace_support: {{ operator_multinamespace_support }}
{% if crd_paths|length < 1 %}
crd_paths: []
{% else %}
crd_paths:
{% for crd_path in crd_paths %}
  - {{ crd_path }}
{% endfor %}
{% endif %}
{% if ocp_versions|length < 1 %}
ocp_versions: []
{% else %}
ocp_versions:
{% for ocp_version in ocp_versions %}
  - {{ ocp_version }}
{% endfor %}
{% endif %}
