---
- name: "#3 Initial final_veneer_var reset"
  ansible.builtin.set_fact:
    final_veneer_var: []
    output_veneer_dir: "{{ output_veneer_dir_root }}/{{ gv_package_name }}/veneers/"

- name: "Basic veneer - default channel"
  block:
    - name: "Detect default channel"
      include_tasks: detect_default_channel.yml

    - name: "Set olm.package"
      ansible.builtin.set_fact:
        olm_package:
          schema: olm.package
          name: "{{ gv_package_name }}"
          defaultChannel: "{{ gv_default_channel }}"

    - name: "Add 'olm_package' variable to 'final_veneer_var'"
      set_fact:
        final_veneer_var: "{{ final_veneer_var | default([]) + [olm_package] }}"
  when: op_info[gv_package_name].mode == "replaces"

- name: "Create output dir"
  file:
    state: "{{ item }}"
    path: "/{{ output_veneer_dir }}"
  with_items:
    - directory

- name: "Set 'gv_bundle_path'"
  ansible.builtin.set_fact:
    gv_bundle_path: "{{ production_registry_namespace }}/{{ gv_package_name }}"

- name: "Init olm.semver"
  ansible.builtin.set_fact:
    final_veneer_var:
      Schema: "olm.semver"
      GenerateMajorChannels: true
      GenerateMinorChannels: true
  when: op_info[gv_package_name].mode == "semver"

- name: "Loop channels"
  include_tasks: olm_channel_loop_channels.yml
  loop: "{{ op_info[gv_package_name].channels.keys() }}"
  loop_control:
    loop_var: gv_channel

- name: "Loop over bundles"
  set_fact:
    final_veneer_var: "{{ final_veneer_var | default([]) | union( [{'schema': 'olm.bundle', 'image': gv_bundle_path+':v'+gv_bundle_in_index }]) }}"
  loop: "{{ op_info[gv_package_name].index[gv_index] }}"
  loop_control:
    loop_var: gv_bundle_in_index
  when:
    - op_info[gv_package_name].mode == "replaces"
    - gv_bundle_in_index not in op_info[gv_package_name].index_dt[gv_index]

- name: "Convert list of yamls to a file for replaces"
  template:
    src: veneer_templating.yml.j2
    dest: "{{ output_veneer_path }}"
  when: op_info[gv_package_name].mode == "replaces"

- name: "Genrate veneer file for semver"
  ansible.builtin.copy:
    dest: "{{ output_veneer_path }}"
    content: "{{ final_veneer_var | to_nice_yaml }}"

- name: "Show"
  debug:
    var: final_veneer_var
