---
- name: "Load operator info from file"
  block:
    # - name: "Parsing config file '{{ operator_info_file }}'"
    #   include_vars:
    #     file: "{{ operator_info_file }}"
    #     name: op_info
    #     remote_src: true
    #     # name: operator_info_vars
    - name: "Check if '{{ operator_info_file }}' file exists"
      stat:
        path: "{{ operator_info_file }}"
      register: operator_info_file_st

    - name: "Fail when file '{{ operator_info_file }}' doesn't exists"
      fail:
        msg: "Operator info file '{{ operator_info_file }}' doens't exists !!!"
      when: not operator_info_file_st.stat.exists

    - name: "Getting content from '{{ operator_info_file }}'"
      shell: "cat {{ operator_info_file }}"
      register: operator_info_data
      ignore_errors: true
      # no_log: "{{ prow_verbosity }}"

    - name: "Sets operator info variables from '{{ operator_info_file }}'"
      set_fact:
        op_info: "{{ operator_info_data.stdout | from_yaml }}"
      when: operator_info_data.rc == 0
      # no_log: "{{ prow_verbosity }}"

    - name: "Artifacts consistency check"
      include_tasks: op_info_consistency.yml
      when:
        - skip_operator_info_consistency is defined
        - not skip_operator_info_consistency|bool

    - name: " Handle 'supported_cluster_versions'"
      set_fact:
        oi_supported_cluster_versions: []
      when:
        - not fast_op_info|bool
        - supported_cluster_versions == "latest"

  when:
    - operator_info_file is defined
    - operator_info_file| length > 0


- name: "Sets operator info variables from 'operator_info_file'"
  set_fact:
    operator_base_dir: "{{ operator_bundle_src_dir }}"
    operators: "{{ op_info.keys() | list | join(',') }}"
    operator_format: "bundle"
  # no_log: "{{ prow_verbosity }}"
  when:
    - op_info is defined
    - not fast_op_info|bool

- name: "Print final 'operator_base_dir'"
  debug:
    var: operator_base_dir
  when:
    - not fast_op_info|bool

- name: "Print final 'operators'"
  debug:
    var: operators
  when:
    - not fast_op_info|bool

- name: "Print final 'op_info'"
  debug:
    var: op_info
  when: not op_info_printed_already|bool

- name: "Silen further op_info print"
  set_fact:
    op_info_printed_already: true