---
- name: "Pull the base image {{ container_tool }} pull --arch={{ mfbc_architecture }} {{ mirror_multiarch_image }}"
  shell: "{{ container_tool }} pull --arch={{ mfbc_architecture }} {{ mirror_multiarch_image }}"
  when: registry_redhat_io_user is defined and registry_redhat_io_token is defined

- name: "Retag the base image"
  shell: "{{ container_tool }} tag {{ mirror_multiarch_image }} {{ mirror_multiarch_image }}-{{ mfbc_architecture }}"

- name: "Set 'mfbc_actual_fbc_arch_image'"
  set_fact:
    mfbc_actual_fbc_arch_image: "{{ mfbc_multi_arch_output_image }}-{{ mfbc_architecture }}"

- name: "{{ container_tool }} build -f {{ pfbc_dockerfile_path }} -t {{ mfbc_actual_fbc_arch_image }} --build-arg ARCH={{ mfbc_architecture }}/ ."
  shell: "{{ container_tool }} build -f {{ pfbc_dockerfile_path }} -t {{ mfbc_actual_fbc_arch_image }} --build-arg ARCH={{ mfbc_architecture }} ."
    chdir: "{{ mfbc_extracted_fbc_location }}"

- name: "Push '{{ mfbc_actual_fbc_arch_image }}'"
  include_role:
    name: operator_push_image
  vars:
    fqp_image: "{{ mfbc_actual_fbc_arch_image }}"

- name: "Add {{ mfbc_architecture }} arch to {{ mfbc_multi_arch_output_image }} manifest"
  shell: "{{ container_tool }} manifest add {{ mfbc_multi_arch_output_image }} {{ mfbc_actual_fbc_arch_image }}"
    chdir: "{{ mfbc_extracted_fbc_location }}"
