---
#input: cl_package_name, cl_operator_ver
#output: cl_label_valid
#condition: works only for bundle
# TODO: corner cases
- name: "Set defaults"
  set_fact:
    cl_label_valid: true
    cl_operator_format: "{{ (op_info | selectattr('name','equalto','community-kubevirt-hyperconverged') | first).format }}"

- name: "Compare labels"
  block:

  - name: "Parse label"
    include_tasks: parse_label.yml

  - name: "Convert label to cluster versions"
    include_role:
      name: pyxis
    vars:
      p_range: "{{ cl_operator_label }}"

  - name: "Collect variables"
    set_fact:
      cl_git_label_list: "{{ p_indexes_by_pyxis }}"
      cl_artificial_label: "{{ (op_info | selectattr('name','equalto','community-kubevirt-hyperconverged') | first).manifests[cl_operator_ver].idx_label }}"

  - name: "Convert artificial label to versions"
    include_role:
      name: pyxis
    vars:
      p_range: "{{ cl_artificial_label }}"

  - name: "Set variable from the task to the role"
    set_fact:
      cl_artificial_label_list: "{{ p_indexes_by_pyxis }}"

  - name: "Check validity"
    include_tasks: validity.yml
    loop: "{{ cl_git_label_list }}"
    loop_control:
      loop_var: cl_git_label_version

  - name: "Output"
    debug:
      var: cl_label_valid

  when: cl_operator_format == bundle