---
#input: cl_package_name, cl_operator_ver
#output: cl_label_valid
#condition: works only for bundle

- name: "Set defaults"
  set_fact:
    cl_label_valid: true
    cl_operator_format: "{{ oi_operator_format }}"

- name: "Compare labels"
  block:

    - name: "Parse label"
      include_tasks: parse_label.yml

    - debug:
        var: cl_operator_label

    - name: "Label not found in git, setting all range label"
      set_fact:
        cl_operator_label: "v4.5"
      when: cl_operator_label is not defined or not cl_operator_label|length>0

    - name: "Convert label to cluster versions"
      include_role:
        name: pyxis
      vars:
        p_range: "{{ cl_operator_label }}"

    - name: "Collect variables"
      set_fact:
        cl_git_label_list: "{{ p_indexes_by_pyxis }}"
        cl_artificial_label: "{{ bvf_label }}"

    - name: "Convert artificial label to versions"
      include_role:
        name: pyxis
      vars:
        p_range: "{{ cl_artificial_label }}"

    - name: "Set variable from the task to the role"
      set_fact:
        cl_artificial_label_list: "{{ p_indexes_by_pyxis }}"

    - name: "Check validity"
      include_tasks: validity.yml
      loop: "{{ cl_git_label_list }}"
      loop_control:
        loop_var: cl_git_label_version

    - name: "Output"
      debug:
        var: cl_label_valid

  when: cl_operator_format == "bundle"
