package_name: {{ package_name }}
package_path: {{ package_path }}
current_channel: {{ current_channel }}
current_csv: {{ current_csv }}
current_csv_dir: {{ current_csv_dir }}
csv_path: {{ csv_path }}
operator_pod_name: {{ operator_pod_name }}
operator_capabilities: {{ operator_capabilities }}
operator_container_name: {{ operator_container_name }}
operator_allnamespaces_support: {{ operator_allnamespaces_support }}
operator_ownnamespace_support: {{ operator_ownnamespace_support }}
operator_singlenamespace_support: {{ operator_singlenamespace_support }}
operator_multinamespace_support: {{ operator_multinamespace_support }}
{% if crd_paths|length < 1 %}
crd_paths: []
{% else %}
crd_paths:
{% for crd_path in crd_paths %}
  - {{ crd_path }}
{% endfor %}
{% endif %}
