---
- name: "Remove any previous validation results"
  shell: "rm -f {{ work_dir }}/validation-*"

- name: "Output the operator-sdk version"
  shell: "{{ operator_sdk_bin_path }} version"
  register: sdk_version_result

- name: "Output the operator-sdk version to a debug file"
  copy:
    content: "{{ sdk_version_result.stdout }}"
    dest: "{{ work_dir }}/validation-version.txt"
  when: sdk_version_result.stdout is defined

- set_fact:
        bundle_validate: '{{ "{{ bundle_image }}" if run_upstream else "{{ operator_work_dir }}" }}'

- name: "Validate the operator bundle manifest and metadata with operator-sdk bundle validate"
  shell: "{{ operator_sdk_bin_path }} bundle validate --verbose {{ bundle_validate }} > {{ work_dir}}/validation-output.txt 2>&1"
  register: sdk_validation_result
  ignore_errors: true
  when: run_upstream|bool

- name: "Output the return code of operator-sdk bundle validate command to a debug file"
  copy:
    content: "{{ sdk_validation_result.rc }}"
    dest: "{{ work_dir }}/validation-rc.txt"
  when: sdk_validation_result.rc is defined

- name: "Fail if the operator didn't satisfy the operator-sdk validation test"
  fail:
    msg: 'Operator sdk validation test failed, check validation-output.txt for more details'
  when:
    - check_validation_result|bool
    - sdk_validation_result.rc != 0