---

- name: "Setting '{{ oi_index_replaces_ver_current }}' to '{{ oiirl_ver }}' for '{{ oii_index_version }}'"
  set_fact:
    oiirl_ver: "{{ oi_index_replaces_ver_current }}"
  when:
    - oiirl_ver is undefined or oiirl_ver|length == 0

- name: "Adding '{{ oiirl_ver }}' to 'oii_index_checked'"
  set_fact:
    oii_index_checked: "{{ (oii_index_checked| default([])) + [ oiirl_ver ] }}"

- name: "Handle deprecatetruncate versions for '{{ oii_index_version }}'"
  block:
    - name: "Setting replaces field from version '{{ oiirl_ver }}' to 'oiirl_ver' "
      set_fact:
        oiirl_ver: "{{ io_versions_manifests[oiirl_ver].replaces | default('') }}"

    - name: "Debug check if '{{ oiirl_ver }}' is in 'oii_index' for 'oii_index_dt'"
      debug:
        var: oii_index

    - name: "Adding '{{ oiirl_ver }}' to 'oii_index_dt'"
      set_fact:
        oii_index_dt: "{{ (oii_index_dt| default([])) + [ oiirl_ver ] }}"
      when:
        - oiirl_ver|length > 0
        - ((oiirl_ver not in oii_index) or (oiirl_ver in oii_index and oii_index_dt|length > 0))
  when:
    - oiirl_ver is defined
    - oiirl_ver|length > 0

  always:

    - name: "Making unique 'oii_index_checked'"
      set_fact:
        oii_index_checked: "{{ oii_index_checked | unique }}"

    - name: "Setting '{{ oiirl_ver }}' when {{ oiirl_ver }} in 'oii_index_checked'"
      set_fact:
        oiirl_ver: "{{ io_versions_manifests[oiirl_ver].replaces | default('') }}"
      when:
        - oiirl_ver in oii_index_checked

    - include_tasks: op_info_index_replaces_loop.yml
      when:
        - oiirl_ver is defined
        - oiirl_ver|length > 0
        - oiirl_ver not in oii_index_checked
