---

- debug:
    var: oi_index_replaces_ver_current

- debug:
    var: io_versions_manifests[oi_index_replaces_ver_current].replaces

- pause:
# - name: "Loop over all versions"
#   block:
#     - name: "Sets 'oicpl_current_channel'"
#       set_fact:
#         oicpl_current_channel: "{{ (oicpl_current_channel| default([])) + [ oi_pkg_channel_ver_current ] }}"

#     # - name: "Setting 'oi_pkg_channel_ver_current'"
#     #   set_fact:
#     #     oi_pkg_channel_ver_current: ''

#     - name: "Setting 'oi_pkg_channel_ver_current'"
#       set_fact:
#         oi_pkg_channel_ver_current: "{{ io_versions_manifests[oi_pkg_channel_ver_current].replaces }}"
#       when:
#         - io_versions_manifests[oi_pkg_channel_ver_current] is defined

#   always:
#     - include_tasks: op_info_index_replaces_loop.yml
#       when:
#         - oi_pkg_channel_ver_current is defined
#         - oi_pkg_channel_ver_current|length > 0
#         - io_versions_manifests[oi_pkg_channel_ver_current] is defined
