package_name: "{{ package_name }}"
is_bundle_image: {{ is_bundle_image }}
is_backport: {{ is_backport }}
current_channel: "{{ current_channel }}"
default_channel: "{{ default_channel }}"
current_csv_dir: "{{ current_csv_dir }}"
current_csv: "{{ current_csv }}"
csv_path: "{{ csv_path }}"
operator_pod_name: "{{ operator_pod_name }}"
operator_capabilities: "{{ operator_capabilities }}"
operator_container_name: "{{ operator_container_name }}"
operator_allnamespaces_support: {{ operator_allnamespaces_support }}
operator_ownnamespace_support: {{ operator_ownnamespace_support }}
operator_singlenamespace_support: {{ operator_singlenamespace_support }}
operator_multinamespace_support: {{ operator_multinamespace_support }}
{% if operator_minkube_version is defined %}
operator_minkube_version: "{{ operator_minkube_version }}"
{% endif %}
{% if operator_valid_subscription|length < 1 %}
operator_valid_subscription: []
{% else %}
operator_valid_subscription:
{% for valid_subscription in operator_valid_subscription %}
  - "{{ valid_subscription }}"
{% endfor %}
{% endif %}
{% if crd_paths|length < 1 %}
crd_paths: []
{% else %}
crd_paths:
{% for crd_path in crd_paths %}
  - {{ crd_path }}
{% endfor %}
{% endif %}
ocp_versions: "{{ ocp_versions }}"
{% if olm_skipRange is defined %}
olm_skipRange: "{{ olm_skipRange }}"
{% endif %}
{% if olm_replaces is defined %}
olm_replaces: "{{ olm_replaces }}"
{% endif %}
{% if olm_skips is defined %}
olm_skips:
{% for olm_skip in olm_skips %}
  - "{{ olm_skip }}"
{% endfor %}
{% endif %}
{% if operator_feature_disconnected is defined %}
operator_feature_disconnected: "{{ operator_feature_disconnected }}"
{% endif %}
{% if operator_feature_fips_compliant is defined %}
operator_feature_fips_compliant: "{{ operator_feature_fips_compliant }}"
{% endif %}
{% if operator_feature_proxy_aware is defined %}
operator_feature_proxy_aware: "{{ operator_feature_proxy_aware }}"
{% endif %}
{% if operator_feature_cnf is defined %}
operator_feature_cnf: "{{ operator_feature_cnf }}"
{% endif %}
{% if operator_feature_cni is defined %}
operator_feature_cni: "{{ operator_feature_cni }}"
{% endif %}
{% if operator_feature_csi is defined %}
operator_feature_csi: "{{ operator_feature_csi }}"
{% endif %}
{% if operator_feature_tls_profiles is defined %}
operator_feature_tls_profiles: "{{ operator_feature_tls_profiles }}"
{% endif %}
{% if operator_feature_token_auth_aws is defined %}
operator_feature_token_auth_aws: "{{ operator_feature_token_auth_aws }}"
{% endif %}
{% if operator_feature_token_auth_azure is defined %}
operator_feature_token_auth_azure: "{{ operator_feature_token_auth_azure }}"
{% endif %}
{% if operator_feature_token_auth_gcp is defined %}
operator_feature_token_auth_gcp: "{{ operator_feature_token_auth_gcp }}"
{% endif %}
{% if channels is defined %}
target_channels:
{% for channel in channels %}
  - "{{ channel }}"
{% endfor %}
{% endif %}
