---
- name: "Fail if 'bvf_versions' is not defined"
  fail:
    msg: "Variable 'bvf_versions' is undefined. Please run bundle_validate_filter with 'validate_api=true'"
  when: bvf_versions is undefined

- name: "Reset"
  set_fact:
    label_set: false
    max_cluster_defined_by_user: "notDefined"

- name: "Set label"
  block:

    - name: "Set max_cluster_defined_by_user"
      set_fact:
        max_cluster_defined_by_user: "{{ cl_operator_label.split('-')[1].split('v')[1] }}"
      when: '"-" in cl_operator_label'

    - name: "Only single cluster supported"
      set_fact:
        bvf_label: "=v{{ bvf_versions[0] }}"
        bvf_versions_count: "{{ bvf_versions|count }}"
      when:
        - bvf_versions|count == 1

    - name: "Count occurrences"
      set_fact:
        bvf_supported_cluster_versions_count: "{{ bvf_supported_cluster_versions|count }}"
        bvf_versions_count: "{{ bvf_versions|count }}"
      when:
        - bvf_versions|count >= 2

    - name: "Empty label when all clusters supported"
      set_fact:
        bvf_label: ""
      when:
        - bvf_versions|count >= 2
        - bvf_supported_cluster_versions_count == bvf_versions_count

    - name: "Debug bvf_versions"
      debug:
        var: bvf_versions

    - name: "Debug cluster_type"
      debug:
        var: cluster_type

    - name: "Debug bvf_supported_cluster_versions_count"
      debug:
        var: bvf_supported_cluster_versions_count

    - name: "Debug bvf_versions_count"
      debug:
        var: bvf_versions_count

    - name: "Debug max_cluster_defined_by_user"
      debug:
        var: max_cluster_defined_by_user

    - name: "Label cluster range when some cluster unsupported with different max in cluster range"
      set_fact:
        bvf_label: "v{{ bvf_versions[0] }}-v{{ bvf_versions[-1] }}"
      when:
        - bvf_versions_count|int >= 2
        - bvf_supported_cluster_versions_count != bvf_versions_count
        - bvf_versions[-1] != bvf_supported_cluster_versions[-1]

    - name: "Label cluster range when some cluster unsupported when max in range by user equals computed max"
      set_fact:
        bvf_label: "v{{ bvf_versions[0] }}-v{{ bvf_versions[-1] }}"
      when:
        - bvf_versions_count|int >= 2
        - bvf_supported_cluster_versions_count != bvf_versions_count
        - bvf_versions[-1] == bvf_supported_cluster_versions[-1]
        - max_cluster_defined_by_user == bvf_versions[-1]

    - name: "Label cluster with a single version when some cluster unsupported"
      set_fact:
        bvf_label: "v{{ bvf_versions[0] }}"
      when:
        - bvf_versions_count|int >= 2
        - bvf_supported_cluster_versions_count != bvf_versions_count
        - bvf_versions[-1] == bvf_supported_cluster_versions[-1]
        - max_cluster_defined_by_user != bvf_versions[-1]

  when: bvf_versions|length != 0

- name: "Report status"
  debug:
    msg: "Operator version not valid for any cluster, not generating any cluster version label"
  when: bvf_versions|length == 0

- name: "Set fact"
  set_fact:
    cl_artificial_label: "{{ bvf_label }}"
  when: bvf_label is defined
