---
- name: "Fail if 'cluster_type' is not defined"
  fail:
    msg: "Variable 'cluster_type' is mandatory."
  when: cluster_type is undefined or cluster_type|length == 0

- name: "Reset variables - old clusters have valid APIs"
  set_fact:
    chcac_cluster_valid: true
    bvf_versions: []

- name: "Loop cluster versions {{ k8s_versions }} for API validation"
  include_tasks: validate_api.yml
  loop: "{{ k8s2ocp.keys() }}"
  loop_control:
    loop_var: validate_api_cluster_version
  when:
    - validate_api_cluster_version is version(bvf_min,'>=')
    - validate_api_cluster_version is version(bvf_max,'<=')
    - validate_api|bool


- name: ""
  include_tasks: generate_label.yml
  when:
    - generate_label|bool

- name: debug
  debug:
    var: bvf_versions
  when:
    - validate_api|bool
