# This is a basic workflow to help you get started with Actions

name: "Build and test midstream CI image"

# Controls when the action will run.
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Runs a set of commands using the runners shell
      - name: "Build the midstream image inside Dockerfiles"
        run: |
          podman --version
          cd Dockerfiles/midstream/
          podman build -t midstream_image:latest -f Dockerfile --build-arg OPERATOR_SDK_VERSION=v1.4.0
      - name: "Run example operator-metadata through midstream ci image  --> positive test"
        continue-on-error: false
        run: |
          mkdir ./output_logs
          podman run -it -v $PWD:/project/operator-test-playbooks -v ./output_logs:/project/output midstream_image:latest

      - name: "Run example operator-metadata through midstream ci image  --> negative test"
        continue-on-error: true
        run: |
          rm -rf ./output_logs
          mkdir ./output_logs
          podman run -it -v $PWD:/project/operator-test-playbooks -v ./output_logs:/project/output -e IMAGE_TO_TEST=quay.io/cvpops/test-operator:missing-alm-examples-v1 midstream_image:latest

      - name: "Succeed if the negative test fails"
        continue-on-error: false
        if: ${{ failure() }}
        run: |
          exit 0

      - name: "Fail if the previous job skips"
        if: ${{ cancelled() }}
        run: |
          exit 0
