name: Operator test playbook upstream (otpu) iib tests
env:
  ANSIBLE_CONFIG: "$PWD/upstream/ansible.cfg"
  ANSIBLE_BASE_ARGS: "-i localhost, upstream/local.yml -e ansible_connection=local -e run_upstream=true -e run_remove_catalog_repo=false"
  ANSIBLE_VERSION: "2.9.21"

on:
  pull_request_target:
    branches: [ master, upstream-community ]
  push:
    branches: [ upstream-community-dev ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  otpu_index_from_scratch_multiarch_iib:
    name: Index from scratch (multiple versions) and produce multiarch via iib
    runs-on: ubuntu-latest
    env:
      IIB_PULL_AUTHFILE: ${{ secrets.IIB_PULL_AUTHFILE }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'
      - name: Install dependencies
        run: python -m pip install --upgrade pip ansible==$ANSIBLE_VERSION jmespath
      - name: Preparing operator test environment
        run: |
          [ -d $HOME/.docker ] || mkdir -p $HOME/.docker
          echo $IIB_PULL_AUTHFILE > $HOME/.docker/config.json
          ansible-playbook $ANSIBLE_BASE_ARGS --tags host_build,iib
          cd /tmp/iib && docker-compose ps
          docker exec iib_iib-worker_1 mkdir -p /root/.docker/
          docker cp $HOME/.docker/config.json iib_iib-worker_1:/root/.docker/config.json.template || exit 1
      - name: Operator test
        env:
          OPP_MIRROR_INDEX_MULTIARCH: "registry.redhat.io/openshift4/ose-operator-registry:v4.5"
          OPP_MIRROR_INDEX_IMAGE: "localhost:5000/test-operator/catalog_mirror"
          OPP_MIRROR_INDEX_MULTIARCH_POSTFIX: ""
        run: |
          ansible-playbook $ANSIBLE_BASE_ARGS --tags deploy_bundles -e operators_config=test/operators_config.yaml -e mirror_multiarch_image=$OPP_MIRROR_INDEX_MULTIARCH -e mirror_index_images="$OPP_MIRROR_INDEX_IMAGE:test|$OPP_REGISTRY_MIRROR_USER|$REGISTRY_MIRROR_PW|$OPP_MIRROR_INDEX_MULTIARCH_POSTFIX|$OPP_MIRROR_INDEX_IMAGE:latest" -vv
